.button{
   
    height: 50px;
    border-radius:6px;
    font-weight:500;
    background:#835afd;
    color: #fff;
    padding:0 28px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    border: 0;

    >p{
        margin-left: 10px;
    }

    &:not(:disabled):hover{//se nao estiver desabilitado
        filter: brightness(0.85);
    }

    &:disabled{
        opacity: 0.6;
        cursor: not-allowed;
    }
}